---
import {products} from "../lib/data"
---

<section class="relative bg-image-hero-3 h-screen">
    <!--<div>
        <img src={products[0].hero} class="w-full h-full" alt={products[0].title}>
    </div> -->
    <div class="flex justify-center text-center py-5">
        <section>
            <h1 class="text-3xl font-semibold">{products[2].title}</h1>
        <p class="p-3 uppercase text-xl font-semibold">
            {products[2].desc}
        </p>
        <footer class="grid grid-cols-2 p-3">
            <a href="#" class="uppercase">Learn More <span class="text-green-500 font-semibold">></span></a>
            <a href="#" class="uppercase">Buy <span class="text-green-500 font-semibold">></span></a>
        </footer>
        </section>
    </div>
</section>

<style is:global>
    .bg-image-hero-3{
		background-image: url('../../public/images/hero-tree.webp');
		background-position: center;
		background-size: cover;
	}
</style>